# Creating Data Dashboards [6.7] - Task

### This script contains the following:

#### 1. Importing your libraries and data
#### 2. Subsetting, wrangling, cleaning and merging time series data

##### --------------------------------------------------

### Importing Libraries

In [1]:
from fredapi import Fred
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import statsmodels.api as sm
import os
import warnings

warnings.filterwarnings("ignore")

plt.style.use('fivethirtyeight')

In [2]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/6 - ADVANCED ANALYTICS & DASHBOARD'

In [3]:
# Import DataSet

df_house = pd.read_csv(os.path.join(path, 'House Market King County USA', '02 - Data', 'Prepared Data', 'house_dataset_clean.csv'))

In [4]:
df_house.shape

(21613, 26)

In [5]:
df_house.head(10)

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,...,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,...,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,...,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,...,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,...,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,...,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average

In [6]:
# Configure US Federal Reserve Data API key

fred = Fred(api_key="f40a0a618cc76adabf3f5c5746249b31")

##### --------------------------------------------------

In [7]:
# Importing the House Price Index variable.

df_index_1 = fred.get_series('CSUSHPINSA')

In [8]:
# Briefly inspecting the House Price Index Dataframe

df_index_1.tail(10)

2024-11-01    323.780
2024-12-01    323.379
2025-01-01    323.694
2025-02-01    325.147
2025-03-01    327.747
2025-04-01    329.917
2025-05-01    331.458
2025-06-01    331.685
2025-07-01    331.003
2025-08-01    330.022
dtype: float64

In [9]:
# Renaming the Rate column correctly

df_index_1 = df_index_1.to_frame(name='house_price_index')

In [10]:
# Inspecting again

df_index_1.tail(10)

            house_price_index
2024-11-01            323.780
2024-12-01            323.379
2025-01-01            323.694
2025-02-01            325.147
2025-03-01            327.747
2025-04-01            329.917
2025-05-01            331.458
2025-06-01            331.685
2025-07-01            331.003
2025-08-01            330.022

In [11]:
df_index_1.columns

Index(['house_price_index'], dtype='object')

In [12]:
# Changing the date index into a date columns (necessary for merging)

df_index_1 = df_index_1.reset_index()
df_index_1.rename(columns={'index': 'date'}, inplace=True)

In [13]:
# Inspecting again

df_index_1.tail(10)

          date  house_price_index
598 2024-11-01            323.780
599 2024-12-01            323.379
600 2025-01-01            323.694
601 2025-02-01            325.147
602 2025-03-01            327.747
603 2025-04-01            329.917
604 2025-05-01            331.458
605 2025-06-01            331.685
606 2025-07-01            331.003
607 2025-08-01            330.022

In [14]:
# Ensure date column is datetime [House Price Index Dataframe]

df_index_1['date'] = pd.to_datetime(df_index_1['date'])

In [15]:
# Subsetting - Define start and end as datetime [House Price Index Dataframe]

df_index = df_index_1.loc[(df_index_1['date'] >= '2014-05-01') & (df_index_1['date'] <= '2015-06-01')]

In [16]:
df_index.head(10)

          date  house_price_index
472 2014-05-01            164.668
473 2014-06-01            166.197
474 2014-07-01            167.121
475 2014-08-01            167.436
476 2014-09-01            167.228
477 2014-10-01            166.897
478 2014-11-01            166.645
479 2014-12-01            166.446
480 2015-01-01            166.233
481 2015-02-01            166.612

In [17]:
df_index.columns

Index(['date', 'house_price_index'], dtype='object')

In [18]:
# Importing the Mortgage Rates Index variable.

df_rates_1 = fred.get_series('MORTGAGE30US')

In [19]:
# Briefly inspecting the Mortgage Interest Rate Index Dataframe

df_rates_1.head(10)

1971-04-02    7.33
1971-04-09    7.31
1971-04-16    7.31
1971-04-23    7.31
1971-04-30    7.29
1971-05-07    7.38
1971-05-14    7.42
1971-05-21    7.44
1971-05-28    7.46
1971-06-04    7.52
dtype: float64

In [20]:
df_index_1.columns

Index(['date', 'house_price_index'], dtype='object')

In [21]:
# Renaming the Rate column correctly

df_rates_1 = df_rates_1.to_frame(name='mortgage_interest_index')

In [22]:
# Inspecting again

df_rates_1.head(10)

            mortgage_interest_index
1971-04-02                     7.33
1971-04-09                     7.31
1971-04-16                     7.31
1971-04-23                     7.31
1971-04-30                     7.29
1971-05-07                     7.38
1971-05-14                     7.42
1971-05-21                     7.44
1971-05-28                     7.46
1971-06-04                     7.52

In [23]:
# Changing the date index into a date columns (necessary for merging)

df_rates_1 = df_rates_1.reset_index()
df_rates_1.rename(columns={'index': 'date'}, inplace=True)

In [24]:
# Inspecting again

df_rates_1.head(10)

        date  mortgage_interest_index
0 1971-04-02                     7.33
1 1971-04-09                     7.31
2 1971-04-16                     7.31
3 1971-04-23                     7.31
4 1971-04-30                     7.29
5 1971-05-07                     7.38
6 1971-05-14                     7.42
7 1971-05-21                     7.44
8 1971-05-28                     7.46
9 1971-06-04                     7.52

In [25]:
# Ensure date column is datetime [Mortgage Interest Rates Dataframe]

df_rates_1['date'] = pd.to_datetime(df_rates_1['date'])

In [26]:
# Subsetting - Define start and end as datetime [Mortgage Interest Rates Dataframe]

df_rates = df_rates_1.loc[(df_rates_1['date'] >= '2014-05-01') & (df_rates_1['date'] <= '2015-06-01')]

In [27]:
# Inspect Again

df_rates.head(10)

           date  mortgage_interest_index
2248 2014-05-01                     4.29
2249 2014-05-08                     4.21
2250 2014-05-15                     4.20
2251 2014-05-22                     4.14
2252 2014-05-29                     4.12
2253 2014-06-05                     4.14
2254 2014-06-12                     4.20
2255 2014-06-19                     4.17
2256 2014-06-26                     4.14
2257 2014-07-03                     4.12

In [28]:
df_index.columns

Index(['date', 'house_price_index'], dtype='object')

In [29]:
df_house['date']  = pd.to_datetime(df_house['date'])
df_index['date']  = pd.to_datetime(df_index['date'])
df_rates['date']  = pd.to_datetime(df_rates['date'])

In [30]:
df_house['month'] = df_house['date'].dt.to_period('M')
df_index['month'] = df_index['date'].dt.to_period('M')
df_rates['month'] = df_rates['date'].dt.to_period('M')

In [31]:
df_house[['date', 'month']].head()
df_index[['date', 'month']].head()
df_rates[['date', 'month']].head()

           date    month
2248 2014-05-01  2014-05
2249 2014-05-08  2014-05
2250 2014-05-15  2014-05
2251 2014-05-22  2014-05
2252 2014-05-29  2014-05

In [32]:
df_house_index = df_house.merge(
    df_index[['month', 'house_price_index']],
    on='month',
    how='left'     # keep all King County rows
)

In [33]:
# Merge the Mortgage Interest Rates Index

df_house_full = df_house_index.merge(
    df_rates[['month', 'mortgage_interest_index']],
    on='month',
    how='left'
)

In [34]:
# Quick sanity checks

df_house_full[['date', 'month', 'house_price_index', 'mortgage_interest_index']].head(20)

df_house_full.groupby('month')[['house_price_index', 'mortgage_interest_index']].nunique()

         house_price_index  mortgage_interest_index
month
2014-05                  1                        5
2014-06                  1                        3
2014-07                  1                        3
2014-08                  1                        3
2014-09                  1                        4
2014-10                  1                        5
2014-11                  1                        4
2014-12                  1                        5
2015-01                  1                        3
2015-02                  1                        4
2015-03                  1                        4
2015-04                  1                        5
2015-05                  1                        4

In [35]:
df_house_full.head(10)

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,...,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text,month,house_price_index,mortgage_interest_index
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,4.19
1,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,4.12
2,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,3.97
3,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,3.92
4,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,3.98
5,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.89
6,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.93
7,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.80
8,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.83
9,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.87

In [36]:
# Create daily House Price Index (still monthly logic, just propagated)

df_index_daily = (
    df_index
    .set_index('date')              # date as index
    .asfreq('D')                    # calendar daily frequency
    .ffill()                        # forward-fill monthly value across days
    .reset_index()
)

In [37]:
# Create daily Mortgage Rate Index (preserving weekly pattern)

df_rates_daily = (
    df_rates
    .set_index('date')
    .asfreq('D')      # one row per day
    .ffill()          # each day gets the last known weekly rate
    .reset_index()
)

In [38]:
# First: add House Price Index
df_house_index = df_house.merge(
    df_index_daily[['date', 'house_price_index']],
    on='date',
    how='left'
)

# Then: add Mortgage Rates
df_house_full = df_house_index.merge(
    df_rates_daily[['date', 'mortgage_interest_index']],
    on='date',
    how='left'
)

In [87]:
# Avoid collapsing of columns in Head View

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [88]:
df_house_full.head(10)

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,view,condition,grade,floors_sqft,basement_sqft,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text,month,house_price_index,mortgage_interest_index
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,4.12
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.89
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average,2015-02,166.612,3.76
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average,2014-12,166.446,3.89
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good,2015-02,166.612,3.69
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent,2014-05,164.668,4.21
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average,2014-06,166.197,4.14
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average,2015-01,166.233,3.66
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average,2015-04,169.957,3.66
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average,2015-03,168.071,3.86

In [50]:
# Import King County JSON Geo DataSet

geo_dataframe = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/6 - ADVANCED ANALYTICS & DASHBOARD/House Market King County USA/02 - Data/Original Data/kingcounty_zipcodes.geojson'

In [51]:
geo_dataframe

'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/6 - ADVANCED ANALYTICS & DASHBOARD/House Market King County USA/02 - Data/Original Data/kingcounty_zipcodes.geojson'

In [53]:
# Import necessary libraries
import geopandas as gpd

# Load the GeoJSON file
# If df_geo is already the string content of the GeoJSON file
import json
from io import StringIO

# If df_geo is a string containing the GeoJSON content
try:
    # Parse the GeoJSON string to a GeoDataFrame
    geo_data = json.loads(geo_dataframe)
    df_geo = gpd.GeoDataFrame.from_features(geo_data["features"])
except:
    # If df_geo is a file path
    df_geo = gpd.read_file(geo_dataframe)

In [54]:
df_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        273 non-null    int32
 1   ZIP             273 non-null    int32
 2   ZIPCODE         273 non-null    object
 3   COUNTY          273 non-null    object
 4   ZIP_TYPE        273 non-null    object
 5   COUNTY_NAME     273 non-null    object
 6   PREFERRED_CITY  273 non-null    object
 7   Shape_Length    273 non-null    float64
 8   Shape_Area      273 non-null    float64
 9   geometry        273 non-null    geometry
dtypes: float64(2), geometry(1), int32(2), object(5)
memory usage: 19.3+ KB

In [55]:
df_geo.head(25)

,OBJECTID,ZIP,ZIPCODE,COUNTY,ZIP_TYPE,COUNTY_NAME,PREFERRED_CITY,Shape_Length,Shape_Area,geometry
0,1,98001,98001,033,Standard,King County,AUBURN,147925.493780,5.252178e+08,"POLYGON ((-122.22992 47.35387, -122.23033 47.3..."
1,2,98002,98002,033,Standard,King County,AUBURN,104828.865667,2.054539e+08,"POLYGON ((-122.2048 47.34354, -122.20485 47.34..."
2,3,98003,98003,033,Standard,King County,FEDERAL WAY,123619.722656,3.169395e+08,"POLYGON ((-122.29624 47.35785, -122.29842 47.3..."
3,4,98004,98004,033,Standard,King County,BELLEVUE,109051.106481,2.017599e+08,"MULTIPOLYGON (((-122.23265 47.63921, -122.2327..."
4,5,98005,98005,033,Standard,King County,BELLEVUE,116554.737882,2.114337e+08,"MULTIPOLYGON (((-122.15354 47.66056, -122.1535..."
5,6,98006,98006,033,Standard,King County,BELLEVUE,107965.965880,3.219152e+08,"POLYGON ((-122.15343 47.57975, -122.15344 47.5..."
6,7,98007,98007,033,Standard,King County,BELLEVUE,113051.218340,1.159669e+08,"POLYGON ((-122.14834 47.6606, -122.14835 47.66..."
7,8,98008,98008,033,Standard,King County,BELLEVUE,94042.032187,1.535704e+08,"POLYGON ((-122.08719 47.62753, -122.0872 47.62..."
8,9,98010,98010,033,Standard,King County,BLACK DIAMOND,131813.741582,5.191427e+08,"POLYGON ((-122.04317 47.34356, -122.04321 47.3..."
9,10,98011,98011,033,Standard,King County,BOTHELL,73516.790158,1.976878e+08,"POLYGON ((-122.22317 47.77669, -122.2233 47.77..."
10,11,98011,98011,061,Standard,Snohomish County,BOTHELL,2747.266963,1.528918e+05,"MULTIPOLYGON (((-122.22096 47.77699, -122.2209..."
11,12,98012,98012,061,Standard,Snohomish County,BOTHELL,118120.446235,4.426557e+08,"POLYGON ((-122.16614 47.87792, -122.16614 47.8..."
12,13,98014,98014,033,Standard,King County,CARNATION,231918.453780,1.159838e+09,"POLYGON ((-121.84152 47.6869, -121.84158 47.68..."
13,14,98019,98019,033,Standard,King County,DUVALL,313474.002492,3.188086e+09,"POLYGON ((-121.79812 47.77736, -121.79977 47.7..."
14,15,98019,98019,061,Standard,Snohomish County,DUVALL,7976.111439,2.266670e+06,"POLYGON ((-121.9326 47.77687, -121.9326 47.776..."
15,16,98020,98020,061,Standard,Snohomish County,EDMONDS,76123.096869,1.439144e+08,"POLYGON ((-122.35542 47.77776, -122.35542 47.7..."
16,17,98021,98021,061,Standard,Snohomish County,BOTHELL,107426.418262,2.758503e+08,"POLYGON ((-122.17001 47.80889, -122.17001 47.8..."
17,18,98022,98022,033,Standard,King County,ENUMCLAW,736038.171114,1.136076e+10,"POLYGON ((-121.42375 47.28831, -121.4238 47.28..."
18,19,98022,98022,053,Standard,Pierce County,ENUMCLAW,514413.097475,8.809822e+09,"POLYGON ((-121.37996 47.08725, -121.38002 47.0..."
19,20,98023,98023,033,Standard,King County,FEDERAL WAY,93096.414597,2.905363e+08,"MULTIPOLYGON (((-122.33444 47.33975, -122.3344..."
20,21,98024,98024,033,Standard,King County,FALL CITY,364856.944544,2.193499e+09,"POLYGON ((-121.58557 47.68627, -121.59619 47.6..."
21,22,98026,98026,061,Standard,Snohomish County,EDMONDS,143346.105389,2.569198e+08,"MULTIPOLYGON (((-122.31969 47.8934, -122.32521..."
22,23,98027,98027,033,Standard,King County,ISSAQUAH,279608.268612,1.588773e+09,"POLYGON ((-122.06518 47.55938, -122.06543 47.5..."
23,24,98028,98028,033,Standard,King County,KENMORE,75032.314489,1.730973e+08,"POLYGON ((-122.26704 47.77709, -122.26955 47.7..."
24,25,98029,98029,033,Standard,King County,ISSAQUAH,113443.970423,2.697763e+08,"MULTIPOLYGON (((-122.06532 47.56213, -122.0653..."

In [56]:
sorted(df_geo['COUNTY_NAME'].dropna().unique())

['Chelan County',
 'Clallam County',
 'Island County',
 'Jefferson County',
 'King County',
 'Kitsap County',
 'Kittitas County',
 'Mason County',
 'Pierce County',
 'Skagit County',
 'Snohomish County',
 'Thurston County',
 'Yakima County']

In [57]:
sorted(df_geo['PREFERRED_CITY'].dropna().unique())

['ALLYN',
 'ANACORTES',
 'ANDERSON ISLAND',
 'ARLINGTON',
 'ASHFORD',
 'AUBURN',
 'BAINBRIDGE ISLAND',
 'BARING',
 'BELFAIR',
 'BELLEVUE',
 'BELLINGHAM',
 'BLACK DIAMOND',
 'BONNEY LAKE',
 'BOTHELL',
 'BOW',
 'BREMERTON',
 'BRINNON',
 'BUCKLEY',
 'BURLINGTON',
 'CAMANO ISLAND',
 'CAMP MURRAY',
 'CARBONADO',
 'CARNATION',
 'CENTRALIA',
 'CHIMACUM',
 'CLE ELUM',
 'CLINTON',
 'CONCRETE',
 'COUPEVILLE',
 'DARRINGTON',
 'DUPONT',
 'DUVALL',
 'EASTON',
 'EATONVILLE',
 'EDMONDS',
 'ELBE',
 'ELLENSBURG',
 'ELMA',
 'ENUMCLAW',
 'EVERETT',
 'FALL CITY',
 'FEDERAL WAY',
 'FOX ISLAND',
 'FREELAND',
 'GIG HARBOR',
 'GOLD BAR',
 'GRAHAM',
 'GRANITE FALLS',
 'GRAPEVIEW',
 'GREENBANK',
 'HAMILTON',
 'HANSVILLE',
 'HOODSPORT',
 'INDEX',
 'INDIANOLA',
 'ISSAQUAH',
 'KENMORE',
 'KENT',
 'KEYPORT',
 'KINGSTON',
 'KIRKLAND',
 'KITTITAS',
 'LA CONNER',
 'LACEY',
 'LAKE STEVENS',
 'LAKEBAY',
 'LAKEWOOD',
 'LANGLEY',
 'LEAVENWORTH',
 'LILLIWAUP',
 'LONGBRANCH',
 'LYMAN',
 'LYNNWOOD',
 'MAPLE VALLEY',
 'MARBLEMOUNT',
 'MARYSVILLE',
 'MATLOCK',
 'MCCLEARY',
 'MCKENNA',
 'MEDINA',
 'MERCER ISLAND',
 'MILTON',
 'MONROE',
 'MONTESANO',
 'MOUNT VERNON',
 'MOUNTLAKE TERRACE',
 'MUKILTEO',
 'NACHES',
 'NORDLAND',
 'NORTH BEND',
 'OAK HARBOR',
 'OLALLA',
 'OLYMPIA',
 'ORTING',
 'PACIFIC',
 'PORT HADLOCK',
 'PORT LUDLOW',
 'PORT ORCHARD',
 'PORT TOWNSEND',
 'POULSBO',
 'PRESTON',
 'PUYALLUP',
 'QUILCENE',
 'RAINIER',
 'RAVENSDALE',
 'REDMOND',
 'RENTON',
 'ROCHESTER',
 'ROCKPORT',
 'RONALD',
 'ROSLYN',
 'ROY',
 'SAMMAMIISH',
 'SAMMAMISH',
 'SEABECK',
 'SEATTLE',
 'SEDRO WOOLLEY',
 'SEQUIM',
 'SHELTON',
 'SILVERDALE',
 'SKYKOMISH',
 'SNOHOMISH',
 'SNOQUALMIE',
 'SNOQUALMIE PASS',
 'SOUTH CLE ELUM',
 'SOUTH PRAIRIE',
 'SPANAWAY',
 'STANWOOD',
 'STEILACOOM',
 'SULTAN',
 'SUMNER',
 'SUQUAMISH',
 'TACOMA',
 'TAHUYA',
 'TENINO',
 'THORP',
 'UNION',
 'UNIVERSITY PLACE',
 'VANTAGE',
 'VASHON',
 'VAUGHN',
 'WILKESON',
 'WOODINVILLE',
 'YELM']

In [58]:
df_geo = df_geo.drop(
    columns=['ZIP_TYPE', 'Shape_Length', 'Shape_Area', 'geometry']
)

In [60]:
df_geo.head()
df_geo.columns

Index(['OBJECTID', 'ZIP', 'ZIPCODE', 'COUNTY', 'COUNTY_NAME',
       'PREFERRED_CITY'],
      dtype='object')

In [61]:
df_geo.head(10)

   OBJECTID    ZIP ZIPCODE COUNTY  COUNTY_NAME PREFERRED_CITY
0         1  98001   98001    033  King County         AUBURN
1         2  98002   98002    033  King County         AUBURN
2         3  98003   98003    033  King County    FEDERAL WAY
3         4  98004   98004    033  King County       BELLEVUE
4         5  98005   98005    033  King County       BELLEVUE
5         6  98006   98006    033  King County       BELLEVUE
6         7  98007   98007    033  King County       BELLEVUE
7         8  98008   98008    033  King County       BELLEVUE
8         9  98010   98010    033  King County  BLACK DIAMOND
9        10  98011   98011    033  King County        BOTHELL

In [62]:
df_geo = df_geo.rename(columns={
    'OBJECTID': 'object_id',
    'ZIP': 'zip',
    'ZIPCODE': 'zipcode',
    'COUNTY': 'county_id',
    'COUNTY_NAME': 'county_name',
    'PREFERRED_CITY': 'preferred_city'
})

In [63]:
df_geo.head(10)

   object_id    zip zipcode county_id  county_name preferred_city
0          1  98001   98001       033  King County         AUBURN
1          2  98002   98002       033  King County         AUBURN
2          3  98003   98003       033  King County    FEDERAL WAY
3          4  98004   98004       033  King County       BELLEVUE
4          5  98005   98005       033  King County       BELLEVUE
5          6  98006   98006       033  King County       BELLEVUE
6          7  98007   98007       033  King County       BELLEVUE
7          8  98008   98008       033  King County       BELLEVUE
8          9  98010   98010       033  King County  BLACK DIAMOND
9         10  98011   98011       033  King County        BOTHELL

In [64]:
df_geo['county_name'].value_counts()

county_name
King County         87
Pierce County       63
Snohomish County    32
Kitsap County       20
Skagit County       16
Mason County        15
Thurston County     12
Kittitas County     11
Island County        7
Jefferson County     7
Clallam County       1
Chelan County        1
Yakima County        1
Name: count, dtype: int64

In [70]:
df_geo = df_geo[df_geo['county_name'] == 'King County'].copy()

In [71]:
df_geo.head(25)

    object_id    zip zipcode county_id  county_name preferred_city
0           1  98001   98001       033  King County         AUBURN
1           2  98002   98002       033  King County         AUBURN
2           3  98003   98003       033  King County    FEDERAL WAY
3           4  98004   98004       033  King County       BELLEVUE
4           5  98005   98005       033  King County       BELLEVUE
5           6  98006   98006       033  King County       BELLEVUE
6           7  98007   98007       033  King County       BELLEVUE
7           8  98008   98008       033  King County       BELLEVUE
8           9  98010   98010       033  King County  BLACK DIAMOND
9          10  98011   98011       033  King County        BOTHELL
12         13  98014   98014       033  King County      CARNATION
13         14  98019   98019       033  King County         DUVALL
17         18  98022   98022       033  King County       ENUMCLAW
19         20  98023   98023       033  King County    FEDERAL WAY
20         21  98024   98024       033  King County      FALL CITY
22         23  98027   98027       033  King County       ISSAQUAH
23         24  98028   98028       033  King County        KENMORE
24         25  98029   98029       033  King County       ISSAQUAH
25         26  98030   98030       033  King County           KENT
26         27  98031   98031       033  King County           KENT
27         28  98032   98032       033  King County           KENT
28         29  98033   98033       033  King County       KIRKLAND
29         30  98034   98034       033  King County       KIRKLAND
32         33  98038   98038       033  King County   MAPLE VALLEY
33         34  98039   98039       033  King County         MEDINA

In [72]:
df_geo['county_name'].value_counts()

county_name
King County    87
Name: count, dtype: int64

In [73]:
df_geo['preferred_city'] = df_geo['preferred_city'].str.title()

In [74]:
df_geo.head(25)

    object_id    zip zipcode county_id  county_name preferred_city
0           1  98001   98001       033  King County         Auburn
1           2  98002   98002       033  King County         Auburn
2           3  98003   98003       033  King County    Federal Way
3           4  98004   98004       033  King County       Bellevue
4           5  98005   98005       033  King County       Bellevue
5           6  98006   98006       033  King County       Bellevue
6           7  98007   98007       033  King County       Bellevue
7           8  98008   98008       033  King County       Bellevue
8           9  98010   98010       033  King County  Black Diamond
9          10  98011   98011       033  King County        Bothell
12         13  98014   98014       033  King County      Carnation
13         14  98019   98019       033  King County         Duvall
17         18  98022   98022       033  King County       Enumclaw
19         20  98023   98023       033  King County    Federal Way
20         21  98024   98024       033  King County      Fall City
22         23  98027   98027       033  King County       Issaquah
23         24  98028   98028       033  King County        Kenmore
24         25  98029   98029       033  King County       Issaquah
25         26  98030   98030       033  King County           Kent
26         27  98031   98031       033  King County           Kent
27         28  98032   98032       033  King County           Kent
28         29  98033   98033       033  King County       Kirkland
29         30  98034   98034       033  King County       Kirkland
32         33  98038   98038       033  King County   Maple Valley
33         34  98039   98039       033  King County         Medina

In [75]:
sorted(df_geo['county_name'].dropna().unique())

['King County']

In [76]:
sorted(df_geo['preferred_city'].dropna().unique())

['Auburn',
 'Baring',
 'Bellevue',
 'Black Diamond',
 'Bothell',
 'Carnation',
 'Duvall',
 'Enumclaw',
 'Fall City',
 'Federal Way',
 'Issaquah',
 'Kenmore',
 'Kent',
 'Kirkland',
 'Maple Valley',
 'Medina',
 'Mercer Island',
 'Milton',
 'North Bend',
 'Pacific',
 'Preston',
 'Ravensdale',
 'Redmond',
 'Renton',
 'Sammamiish',
 'Sammamish',
 'Seattle',
 'Skykomish',
 'Snoqualmie',
 'Snoqualmie Pass',
 'Tacoma',
 'Vashon',
 'Woodinville']

In [77]:
df_geo = df_geo.rename(columns={'preferred_city': 'city'})

In [80]:
df_geo.head(45)

    object_id    zip zipcode county_id  county_name             city
0           1  98001   98001       033  King County           Auburn
1           2  98002   98002       033  King County           Auburn
2           3  98003   98003       033  King County      Federal Way
3           4  98004   98004       033  King County         Bellevue
4           5  98005   98005       033  King County         Bellevue
5           6  98006   98006       033  King County         Bellevue
6           7  98007   98007       033  King County         Bellevue
7           8  98008   98008       033  King County         Bellevue
8           9  98010   98010       033  King County    Black Diamond
9          10  98011   98011       033  King County          Bothell
12         13  98014   98014       033  King County        Carnation
13         14  98019   98019       033  King County           Duvall
17         18  98022   98022       033  King County         Enumclaw
19         20  98023   98023       033  King County      Federal Way
20         21  98024   98024       033  King County        Fall City
22         23  98027   98027       033  King County         Issaquah
23         24  98028   98028       033  King County          Kenmore
24         25  98029   98029       033  King County         Issaquah
25         26  98030   98030       033  King County             Kent
26         27  98031   98031       033  King County             Kent
27         28  98032   98032       033  King County             Kent
28         29  98033   98033       033  King County         Kirkland
29         30  98034   98034       033  King County         Kirkland
32         33  98038   98038       033  King County     Maple Valley
33         34  98039   98039       033  King County           Medina
34         35  98040   98040       033  King County    Mercer Island
35         36  98042   98042       033  King County             Kent
37         38  98045   98045       033  King County       North Bend
38         39  98047   98047       033  King County          Pacific
40         41  98050   98050       033  King County          Preston
41         42  98051   98051       033  King County       Ravensdale
42         43  98052   98052       033  King County          Redmond
43         44  98053   98053       033  King County          Redmond
44         45  98055   98055       033  King County           Renton
45         46  98056   98056       033  King County           Renton
46         47  98057   98057       033  King County           Renton
47         48  98058   98058       033  King County           Renton
48         49  98059   98059       033  King County           Renton
49         50  98065   98065       033  King County       Snoqualmie
50         51  98068   98068       033  King County  Snoqualmie Pass
52         53  98070   98070       033  King County           Vashon
53         54  98072   98072       033  King County      Woodinville
55         56  98074   98074       033  King County        Sammamish
56         57  98075   98075       033  King County       Sammamiish
57         58  98077   98077       033  King County      Woodinville

In [82]:
sorted(df_geo['city'].dropna().unique())

['Auburn',
 'Baring',
 'Bellevue',
 'Black Diamond',
 'Bothell',
 'Carnation',
 'Duvall',
 'Enumclaw',
 'Fall City',
 'Federal Way',
 'Issaquah',
 'Kenmore',
 'Kent',
 'Kirkland',
 'Maple Valley',
 'Medina',
 'Mercer Island',
 'Milton',
 'North Bend',
 'Pacific',
 'Preston',
 'Ravensdale',
 'Redmond',
 'Renton',
 'Sammamiish',
 'Sammamish',
 'Seattle',
 'Skykomish',
 'Snoqualmie',
 'Snoqualmie Pass',
 'Tacoma',
 'Vashon',
 'Woodinville']

In [83]:
df_geo['city'].value_counts()

city
Seattle            37
Renton              5
Bellevue            5
Kent                4
Auburn              3
Kirkland            2
Woodinville         2
Issaquah            2
Federal Way         2
Redmond             2
Enumclaw            1
Duvall              1
Kenmore             1
Fall City           1
Carnation           1
Black Diamond       1
Bothell             1
North Bend          1
Mercer Island       1
Medina              1
Maple Valley        1
Ravensdale          1
Snoqualmie          1
Preston             1
Pacific             1
Vashon              1
Snoqualmie Pass     1
Sammamish           1
Sammamiish          1
Baring              1
Skykomish           1
Milton              1
Tacoma              1
Name: count, dtype: int64

In [84]:
# Fix the typo in the city column
df_geo['city'] = df_geo['city'].replace({'Sammamiish': 'Sammamish'})

In [85]:
df_geo['city'].value_counts()

city
Seattle            37
Bellevue            5
Renton              5
Kent                4
Auburn              3
Kirkland            2
Issaquah            2
Federal Way         2
Redmond             2
Woodinville         2
Sammamish           2
Carnation           1
Enumclaw            1
Duvall              1
Bothell             1
Black Diamond       1
Mercer Island       1
Medina              1
Maple Valley        1
Kenmore             1
Fall City           1
Ravensdale          1
North Bend          1
Pacific             1
Snoqualmie Pass     1
Snoqualmie          1
Preston             1
Vashon              1
Baring              1
Skykomish           1
Milton              1
Tacoma              1
Name: count, dtype: int64

In [86]:
df_geo.head(25)

    object_id    zip zipcode county_id  county_name           city
0           1  98001   98001       033  King County         Auburn
1           2  98002   98002       033  King County         Auburn
2           3  98003   98003       033  King County    Federal Way
3           4  98004   98004       033  King County       Bellevue
4           5  98005   98005       033  King County       Bellevue
5           6  98006   98006       033  King County       Bellevue
6           7  98007   98007       033  King County       Bellevue
7           8  98008   98008       033  King County       Bellevue
8           9  98010   98010       033  King County  Black Diamond
9          10  98011   98011       033  King County        Bothell
12         13  98014   98014       033  King County      Carnation
13         14  98019   98019       033  King County         Duvall
17         18  98022   98022       033  King County       Enumclaw
19         20  98023   98023       033  King County    Federal Way
20         21  98024   98024       033  King County      Fall City
22         23  98027   98027       033  King County       Issaquah
23         24  98028   98028       033  King County        Kenmore
24         25  98029   98029       033  King County       Issaquah
25         26  98030   98030       033  King County           Kent
26         27  98031   98031       033  King County           Kent
27         28  98032   98032       033  King County           Kent
28         29  98033   98033       033  King County       Kirkland
29         30  98034   98034       033  King County       Kirkland
32         33  98038   98038       033  King County   Maple Valley
33         34  98039   98039       033  King County         Medina

In [89]:
df_house_full['zipcode'] = df_house_full['zipcode'].astype(str).str.zfill(5)
df_geo['zipcode']        = df_geo['zipcode'].astype(str).str.zfill(5)

In [90]:
df_house_geo = df_house_full.merge(
    df_geo[['zipcode', 'county_id', 'county_name', 'city']],
    on='zipcode',
    how='left'   # keep all house rows, add geo info where zipcode matches
)

In [92]:
df_house_geo.head(10)

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,view,condition,grade,floors_sqft,basement_sqft,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text,month,house_price_index,mortgage_interest_index,county_id,county_name,city
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,4.12,033,King County,Seattle
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.89,033,King County,Seattle
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average,2015-02,166.612,3.76,033,King County,Kenmore
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average,2014-12,166.446,3.89,033,King County,Seattle
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good,2015-02,166.612,3.69,033,King County,Sammamish
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent,2014-05,164.668,4.21,033,King County,Redmond
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average,2014-06,166.197,4.14,033,King County,Federal Way
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average,2015-01,166.233,3.66,033,King County,Seattle
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average,2015-04,169.957,3.66,033,King County,Seattle
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average,2015-03,168.071,3.86,033,King County,Maple Valley

In [93]:
df_house_geo['country'] = 'United States'

In [94]:
df_house_geo.head(10)

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,view,condition,grade,floors_sqft,basement_sqft,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text,month,house_price_index,mortgage_interest_index,county_id,county_name,city,country
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average,2014-10,166.897,4.12,033,King County,Seattle,United States
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average,2014-12,166.446,3.89,033,King County,Seattle,United States
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average,2015-02,166.612,3.76,033,King County,Kenmore,United States
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average,2014-12,166.446,3.89,033,King County,Seattle,United States
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good,2015-02,166.612,3.69,033,King County,Sammamish,United States
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent,2014-05,164.668,4.21,033,King County,Redmond,United States
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average,2014-06,166.197,4.14,033,King County,Federal Way,United States
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average,2015-01,166.233,3.66,033,King County,Seattle,United States
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average,2015-04,169.957,3.66,033,King County,Seattle,United States
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average,2015-03,168.071,3.86,033,King County,Maple Valley,United States

In [98]:
# Export data to Csv (DataSet with Zipcodes+CountyName+Cities+Country)

df_house_geo.to_csv(os.path.join(path, 'House Market King County USA', '02 - Data','Prepared Data', 'kc_dataset_complete.csv'))

In [99]:
# Export data to Csv (DataSet with ZipCodes)

df_house_full.to_csv(os.path.join(path, 'House Market King County USA', '02 - Data','Prepared Data', 'king_county_zip.csv'))