# Unsupervised Machine Learning: Clustering [6.5] - Task

### This script contains the following:

#### 1. Importing libraries and data and renaming columns
#### 2. The elbow technique
#### 3. k-means clustering

##### --------------------------------------------------

### [1] Install and import all necessary libraries in your Jupyter notebook.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.cluster import KMeans
import pylab as pl

In [2]:
# This option ensures the graphs you create are displayed in your notebook without the need to "call" them specifically.

%matplotlib inline

##### --------------------------------------------------

### [2] Import your data and conduct any necessary cleaning, manipulations, and reprocessing (such as renaming).

#### - Recall from the Exercise that the k-means algorithm can only handle numerical variables, so you’ll need to remove any categorical columns from your data.

#### - Also recall that the difference between your variables’ scales can’t be too large or your results will be biased. Make sure you standardize your data first.

In [3]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/6 - ADVANCED ANALYTICS & DASHBOARD'

In [4]:
# Import DataSet

df_house = pd.read_csv(os.path.join(path, 'King County House Market Analysis', '02 - Data', 'Prepared Data', 'house_dataset_clean.csv'))

In [5]:
# Checking dataframe

df_house.shape

(21613, 26)

In [6]:
# Checking dataframe

df_house.head()

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,...,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text
0,0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average
1,1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average
2,2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average
3,3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average
4,4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good

In [7]:
# Checking dataframe columns

df_house.columns

Index(['Unnamed: 0', 'house_id', 'date', 'price', 'bedrooms', 'bathrooms',
       'house_total_sqft', 'lot_total_sqft', 'floors', 'waterfront', 'view',
       'condition', 'grade', 'floors_sqft', 'basement_sqft', 'year_built',
       'year_renovated', 'zipcode', 'latitude', 'longitude', 'sqft_living15',
       'sqft_lot15', 'waterfront_text', 'view_text', 'house_condition',
       'grade_text'],
      dtype='object')

In [8]:
# Checking dataframe

df_house.head(10)

,Unnamed: 0,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,...,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text
0,0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average
1,1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average
2,2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average
3,3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average
4,4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good
5,5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,...,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent
6,6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,...,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average
7,7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,...,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average
8,8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,...,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average
9,9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,...,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average

In [9]:
# Checking dataframe

df_house.shape

(21613, 26)

##### Missing values

In [10]:
# Check for missing values

df_house.isnull().sum()

Unnamed: 0          0
house_id            0
date                0
price               0
bedrooms            0
bathrooms           0
house_total_sqft    0
lot_total_sqft      0
floors              0
waterfront          0
view                0
condition           0
grade               0
floors_sqft         0
basement_sqft       0
year_built          0
year_renovated      0
zipcode             0
latitude            0
longitude           0
sqft_living15       0
sqft_lot15          0
waterfront_text     0
view_text           0
house_condition     0
grade_text          0
dtype: int64

##### No missing values to handle

In [11]:
# Checking data types

df_house.dtypes

Unnamed: 0            int64
house_id              int64
date                 object
price               float64
bedrooms              int64
bathrooms           float64
house_total_sqft      int64
lot_total_sqft        int64
floors              float64
waterfront            int64
view                  int64
condition             int64
grade                 int64
floors_sqft           int64
basement_sqft         int64
year_built            int64
year_renovated        int64
zipcode               int64
latitude            float64
longitude           float64
sqft_living15         int64
sqft_lot15            int64
waterfront_text      object
view_text            object
house_condition      object
grade_text           object
dtype: object

##### Duplicates check

In [12]:
# Checking duplicates

dups = df_house.duplicated()

In [13]:
# Checking dataframe

dups.shape

(21613,)

##### No Duplicates

In [14]:
# Checking dataframe basic statistics

df_house.describe()

,Unnamed: 0,house_id,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,view,...,grade,floors_sqft,basement_sqft,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
count,21613.00000,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10806.00000,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,0.00000,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5403.00000,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10806.00000,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16209.00000,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21612.00000,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000