## Sourcing Open Data [6.1]

In [15]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [16]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/6 - ADVANCED ANALYTICS & DASHBOARD/King County House Market Analysis'

In [17]:
# Import House Market King County DataSet as a DataFrame

df_house = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'kc_house_data.csv'))

In [18]:
# Will use info and shape to check columns and data types first

df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [19]:
# Inspecting Dataframe

df_house.shape

(21613, 21)

In [20]:
# Inspecting Dataframe

df_house.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [21]:
# Avoid Column Collapsing when inspecting Dataframe

pd.set_option('display.max_columns', None)

In [22]:
# Renaming Columns for Better Clarity and Consistency

df_house.rename(columns={'id': 'house_id'}, inplace=True)
df_house.rename(columns={'yr_built': 'year_built'}, inplace=True)
df_house.rename(columns={'yr_renovated': 'year_renovated'}, inplace=True)
df_house.rename(columns={'lat': 'latitude'}, inplace=True)
df_house.rename(columns={'long': 'longitude'}, inplace=True)

In [23]:
# Inspecting Dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [24]:
# Double checking if there is any missing values

df_house.isnull().sum()

house_id          0
date              0
price             0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
view              0
condition         0
grade             0
sqft_above        0
sqft_basement     0
year_built        0
year_renovated    0
zipcode           0
latitude          0
longitude         0
sqft_living15     0
sqft_lot15        0
dtype: int64

In [25]:
# Checking Duplicates

df_house.duplicated().sum()

np.int64(0)

In [26]:
# Checking Duplicates

df_house[df_house.duplicated()]

Empty DataFrame
Columns: [house_id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, year_built, year_renovated, zipcode, latitude, longitude, sqft_living15, sqft_lot15]
Index: []

In [27]:
# Checking Duplicates

df_house['house_id'].duplicated().sum()

np.int64(177)

In [28]:
# Checking Duplicates

df_house['house_id'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: house_id, Length: 21613, dtype: bool

In [126]:
# Check for mixed types

for col in df_house.columns.tolist():
  weird = (df_house[[col]].map(type) != df_house[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_house[weird]) > 0:
    print (col)

In [127]:
# Fix Date Format (Removing the text part that is not required)

df_house['date'] = df_house['date'].str[:8]

In [128]:
# Conver the date string into a datetime data type (which will allow temporal visualizations later on)

df_house['date'] = pd.to_datetime(df_house['date'], format='%Y%m%d')

In [30]:
# Inspecting Dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [31]:
# Inspecting Dataframe

df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   house_id        21613 non-null  int64
 1   date            21613 non-null  object
 2   price           21613 non-null  float64
 3   bedrooms        21613 non-null  int64
 4   bathrooms       21613 non-null  float64
 5   sqft_living     21613 non-null  int64
 6   sqft_lot        21613 non-null  int64
 7   floors          21613 non-null  float64
 8   waterfront      21613 non-null  int64
 9   view            21613 non-null  int64
 10  condition       21613 non-null  int64
 11  grade           21613 non-null  int64
 12  sqft_above      21613 non-null  int64
 13  sqft_basement   21613 non-null  int64
 14  year_built      21613 non-null  int64
 15  year_renovated  21613 non-null  int64
 16  zipcode         21613 non-null  int64
 17  latitude        21613 non-null  float64
 18  longitude       21613 non-null  float64
 19  sqft_living15   21613 non-null  int64
 20  sqft_lot15      21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [33]:
# Define a function to reorganize and rename Waterfront Column

def waterfront_text(row):

  if row['waterfront'] == 0:
    return 'No'
  elif row['waterfront'] == 1:
    return 'Yes'
  else: return 'n/a'

In [34]:
# Create text label for each row based on waterfront field

df_house['waterfront_text'] = df_house.apply(waterfront_text, axis=1)

In [35]:
# Inspecting Dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No

In [36]:
# Count all waterfront_text values

df_house['waterfront_text'].value_counts(dropna = False)

waterfront_text
No     21450
Yes      163
Name: count, dtype: int64

In [37]:
# Count all waterfront values

df_house['waterfront'].value_counts(dropna = False)

waterfront
0    21450
1      163
Name: count, dtype: int64

In [38]:
# Define a function to reorganize and rename "View" Column

def view_text(row):

  if row['view'] == 0:
    return 'No View'
  elif row['view'] == 1:
    return 'Fair'
  elif row['view'] == 2:
    return 'Average'
  elif row['view'] == 3:
    return 'Good'
  elif row['view'] == 4:
    return 'Excellent'
  else: return 'n/a'

In [39]:
# Create a text label for each row based on the view column

df_house['view_text'] = df_house.apply(view_text, axis=1)

In [40]:
# Inspecting Dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View

In [41]:
# Count all view values

df_house['view'].value_counts(dropna = False)

view
0    19489
2      963
3      510
1      332
4      319
Name: count, dtype: int64

In [42]:
# Count all view_text values

df_house['view_text'].value_counts(dropna = False)

view_text
No View      19489
Average        963
Good           510
Fair           332
Excellent      319
Name: count, dtype: int64

In [43]:
# Define a function to reorganize and rename "Condition" Column

def house_condition(row):

  if row['condition'] == 1:
    return 'Poor'
  elif row['condition'] == 2:
    return 'Fair'
  elif row['condition'] == 3:
    return 'Average'
  elif row['condition'] == 4:
    return 'Good'
  elif row['condition'] == 5:
    return 'Very Good'
  else: return 'n/a'

In [44]:
# Generate a condition label for each house using the house_condition function

df_house['house_condition'] = df_house.apply(house_condition, axis=1)

In [45]:
# Inspecting Dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View,Average
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View,Average
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View,Average
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View,Average
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View,Average
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View,Average
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View,Average
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View,Average

In [46]:
# Counting all the "condition" variable values

df_house['condition'].value_counts(dropna = False)

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [47]:
# Counting all the "house_condition" variable values

df_house['house_condition'].value_counts(dropna = False)

house_condition
Average      14031
Good          5679
Very Good     1701
Fair           172
Poor            30
Name: count, dtype: int64

In [48]:
# Define a function to reorganize and rename "Grade" Column

def grade_text(row):

  if row['grade'] == 1:
    return 'Cabin'
  if row['grade'] == 2:
    return 'Substandard'
  if row['grade'] == 3:
    return 'Poor'
  if row['grade'] == 4:
    return 'Low'
  if row['grade'] == 5:
    return 'Fair'
  if row['grade'] == 6:
    return 'Low Average'
  if row['grade'] == 7:
    return 'Average'
  if row['grade'] == 8:
    return 'Good'
  if row['grade'] == 9:
    return 'Better'
  if row['grade'] == 10:
    return 'Very Good'
  if row['grade'] == 11:
    return 'Excellent'
  if row['grade'] == 12:
    return 'Luxury'
  if row['grade'] == 13:
    return 'Mansion'
  else: return 'n/a'

In [49]:
# Create a text label for each row based on the grade value

df_house['grade_text'] = df_house.apply(grade_text, axis=1)

In [50]:
# Inspecting dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average

In [51]:
# Count all the "grade" variable values

df_house['grade'].value_counts(dropna = False)

grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

In [52]:
# Count all the "grade_text" variable values

df_house['grade_text'].value_counts(dropna = False)

grade_text
Average        8981
Good           6068
Better         2615
Low Average    2038
Very Good      1134
Excellent       399
Fair            242
Luxury           90
Low              29
Mansion          13
Poor              3
Cabin             1
Name: count, dtype: int64

### I will check now the odd numbers in bedrooms, bathrooms and floors.

In [53]:
# Count all the "bedrooms" variable values

df_house['bedrooms'].value_counts(dropna = False)

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

In [54]:
# Count all the "bathrooms" variable values

df_house['bathrooms'].value_counts(dropna = False)

bathrooms
2.50    5380
1.00    3852
1.75    3048
2.25    2047
2.00    1930
1.50    1446
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      72
4.75      23
5.00      21
5.25      13
0.00      10
5.50      10
1.25       9
6.00       6
0.50       4
5.75       4
6.75       2
8.00       2
6.50       2
6.25       2
7.75       1
7.50       1
Name: count, dtype: int64

In [55]:
# Count all the "floors" variable values

df_house['floors'].value_counts(dropna = False)

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [56]:
# Inspecting basic statistical values

df_house.describe()

,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [57]:
# Renaming Columns for Better Clarity and Consistency

df_house.rename(columns={'sqft_living': 'house_total_sqft'}, inplace=True)
df_house.rename(columns={'sqft_lot': 'lot_total_sqft'}, inplace=True)
df_house.rename(columns={'sqft_above': 'floors_sqft'}, inplace=True)
df_house.rename(columns={'sqft_basement': 'basement_sqft'}, inplace=True)

In [58]:
# Inspecting Dataframe

df_house.head(10)

,house_id,date,price,bedrooms,bathrooms,house_total_sqft,lot_total_sqft,floors,waterfront,view,condition,grade,floors_sqft,basement_sqft,year_built,year_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,waterfront_text,view_text,house_condition,grade_text
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,No,No View,Average,Average
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,No,No View,Average,Average
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,No,No View,Average,Low Average
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,No,No View,Very Good,Average
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,No,No View,Average,Good
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,No,No View,Average,Excellent
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,No,No View,Average,Average
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,No,No View,Average,Average
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,No,No View,Average,Average
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,No,No View,Average,Average

In [59]:
# Export data to pkl

df_house.to_pickle(os.path.join(path, '02 - Data','Prepared Data', 'house_dataset_clean.pkl'))